
#conterItems{
    margin-top: 30px;
    padding-block-start: 10px;
    height: 370px; 
    overflow: hidden;  
}

.itemCarrusel{
    height: 100%;
    position:relative;
}

.tarjetaCarrusel{
    height: 100%;
}

.flechasCarrusel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px;

}

a{
    text-decoration: none;
}

#conterPuntos{
    display: flex;
    justify-items: space-around;    
}
#conterPuntos > a{
    font-size: 1.5em;
    font-style: none;
    
}

.fa-chevron-right:before {
    content: "\f054";
    color: rgb(139, 139, 248);
}

.fa-chevron-left:before {
    content: "\f053";
    color:rgb(139, 139, 248);
}