@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  @apply w-16 bg-indigo-50 shadow flex-col justify-between;
}

.sidebar-route {
  @apply rounded-md flex w-full justify-between cursor-pointer items-center m-3 p-3;
}

.fa-app-store:before {
  content: "\f36f";
  color: white;
  font-size: 40px;
  margin-left: 15px;
}